h3 {
  font-weight: bold;
  color: #4078c0;
}

#repo-count {
  color: #8CC665;
}

#search-result-section {
  display: none;
}

#user-avatar {
  height: 150px;
}

#github {
  height: 150px;
}

.display-user-info {
  display: none;
}

#display-username {
  float: left;
}

#search-interface {
  margin-top: 150px;
}

#app-title {
  color: #ffffff;
}
